:root{
    --primary-color: #FF8A00;
    --secundary-color: #FF0000;
    --icon-color: #242424;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    background-color: #252525;
}
section{
    width: 100%;
    
}
header{
    position: fixed;
    grid-area: content;
    width: 100%;
    z-index: 10;
    height: 165px;
    width:100%;
    font-family: Deutsch Gothic;
    text-shadow: 
               -2px -3px 2px #000000, 
               -2px 3px 2px #000000,      
                3px -3px 2px #000000,    
                4px 0px 2px #000000;
    display: flex;
    background-color: #101010c0;
    justify-content: space-between;
    align-items: center;
    
}
li.bars{
    visibility: hidden;
}
main{
    grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer{
    grid-area: content;
    height: 138px;
    width:100%;
    background-color: #252525;
    color: var(--primary-color);
    text-shadow: 
    -2px -3px 2px #000000, 
    -2px 3px 2px #000000,      
    3px -3px 2px #000000,    
    4px 0px 2px #000000;
    font-size: 32px;
    place-self: end center;
    padding-left: 550px;
    padding-top: 50px;
    display: flex ;
}


@font-face{
    font-family: [Deutsch Gothic];
    src: url(../deutsch_gothic/Deutsch.ttf);
}

/* CELULAR*/
@media (max-width: 640px){
    header{
        left: 0vh;
        justify-content: space-around; 
        
    }
    ul.menu{
        display: none;
        
    }
    div.logo{
        padding-left: 0vh;
        
    }
    i.bars{
        
        
    }
    i.fas.fa-bars{
        font-size: 64px;
        visibility: visible;
        color: var(--primary-color);
        text-shadow: 
        -4px -6px 4px #000000, 
        -4px 6px 4px #000000,      
        6px -6px 4px #000000,    
        8px 0px 4px #000000;
        
    }
    section#NanatsuNoTaizai.NanatsuNoTaizai{
        width: 640px;
        padding-right: 100%;
        
        
    }
    section#História.História{
        display: block;
        height: 1920px;
        
        
        
    }
    div.HistoriaNanatsu{
        
        
        flex-direction: column;
        
    }
    div.texto_historia{
        
    }
    video.video_nanatsu{
        width: 640px;
    }
    
}
    